<h3 class="text-center">Payments</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Utility bills</th>
    <th>Total</th>
    <th>Payment date</th>
    <th>Creation date</th>
    <th>Modification date</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let payment of payments">
    <td>{{ payment.id }}</td>
    <td>
      <ul class="utility-bills">
        <li *ngFor="let utilityBill of payment.utilityBills">
          <strong>{{ utilityBill.utilityType }} </strong> <br>
          State: {{ utilityBill.meterState }} <br>
          <div *ngIf="utilityBill.consumption">
            Consumption: {{ utilityBill.consumption }} <br>
          </div>
          <div *ngIf="utilityBill.cost">
            Cost: {{ utilityBill.cost }}
          </div>
        </li>
      </ul>
    </td>
    <td>{{ payment.total }}</td>
    <td>{{ payment.paymentDate }}</td>
    <td>{{ payment.creationDate }}</td>
    <td>{{ payment.modificationDate }}</td>
    <td class="inline">
      <button (click)="paymentDetails(payment.id)" class="btn btn-info">View</button>
      <button (click)="editPayment(payment.id)" class="btn btn-info">Edit</button>
      <button (click)="archivePayment(payment.id)" class="btn btn-info">Archive</button>
      <button (click)="archivePayment(payment.id)" class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
