<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Update payment</h3>
    <form (ngSubmit) = "updatePayment()">

        <div class="form-group">
            <label>Water</label>
            <input type="text" class="form-control" id="water"
                [(ngModel)]="payment.water" name="water">
        </div>

        <div class="form-group">
            <label>Electricity</label>
            <input type="text" class="form-control" id="electricity"
                [(ngModel)]="payment.electricity" name="electricity">
        </div>

        <div class="form-group">
            <label>Gas</label>
            <input type="text" class="form-control" id="gas"
                [(ngModel)]="payment.gas" name="gas">
        </div>

        <div class="form-group">
            <label>Total</label>
            <input type="text" class="form-control" id="total"
                [(ngModel)]="payment.total" name="total">
        </div>

        <div class="form-group">
            <label>Payment date</label>
            <input type="text" class="form-control" id="paymentDate"
                [(ngModel)]="payment.paymentDate" name="paymentDate">
        </div>

        <div class="form-group">
            <label>Message</label>
            <input type="text" class="form-control" id="emailMessage"
                [(ngModel)]="payment.emailMessage" name="emailMessage">
        </div>

        <div class="form-group">
            <label>Creation date</label> {{payment.creationDate}}
        </div>

        <div class="col-md-6 offset-md-3">
          <button class="btn btn-success" type="submit">Update</button>
        </div>

        <div class="col-md-6 offset-md-3">
          <button (click)="recalculate()" class="btn btn-info">Recalculate</button>
        </div>
    </form>
</div>
